.temizle{
    clear: both;
}

nav{
    margin:15px;
}
nav a{
    text-decoration: none;
    color:gray;
}
 
nav a:hover{
    text-decoration: underline;

}

 .container{
  line-height: 100px;
  text-align: center;
    }
    #search{
      
        border-color: rgb(236, 228, 228);
        color: white;
        position: relative;
        padding: 1.2em;;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin:1.2em;
        border-radius:8px ;
        outline: none;
    }
    button img{
        outline: none;
    }
    button a{
        color: grey;
        text-decoration: none;
        
    }
    button a:hover{
        border-color:gray ;
        border-style: ridge;
        border-spacing: 1.2em;
    }
    button{
        border:none;
    }
    footer{
        position:absolute;
        page-break-after: always;
        bottom:0;
        width:100%;
        height:60px;   /* Height of the footer */
    }
    hr{
        color:gray;
    }
    .left{
        float:left;
       
    }
    .right{
        float:right;
    }
     footer a{
         color:gray;
         text-decoration: none;
     }
     footer a:hover{
         text-decoration: underline;
     }