.temizle{
    clear: both;
}

nav{
    margin:15px;
}
nav a{
    text-decoration: none;
    color:gray;
}
 
nav a:hover{
    text-decoration: underline;

}

 .container{
  text-align: center;
    }
    #search{
          width:480px;
          border-radius:16px;
          outline: 1px  white;
    }
    .voice img{
        float:right;
    }
    button img{
        outline: none;
    }
    .buttons{
        padding: 1.2em;;
    }
    button a{
        font-family:Arial ;
        color:#5f6368;
        height:36px;
        font-size: 14px;
        text-decoration: none;
        margin:1em;
        
    }
    button a:hover{
        position: static;
        padding: 1.2em;
        font-family:Arial ;
        color:black;
        border: 1px solid #5f6368;
    }
    button{
        border:none;
    }
    footer{
        position:absolute;
        page-break-after: always;
        bottom:0;
        width:100%;
        height:60px;   /* Height of the footer */
    }
    hr{
        color:gray;
    }
    .left{
        float:left;
       
    }
    .right{
        float:right;
    }
    footer{
        background-color:  #f2f2f2;
    }
     footer a{
         color:gray;
         text-decoration: none;
     }
     footer a:hover{
         text-decoration: underline;
     }